body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4; /* Orqa fon rangi */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px auto; /* O'rta qator balandligi uchun */
    width: 750px; /* Taxminiy kenglik */
    height: 750px; /* Taxminiy balandlik */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    border: 5px solid black;
}

